# Secretos (Lo más importante)
bd.env
.env

# Basura de Python
__pycache__/
*/__pycache__/
*.pyc
.venv/
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.spec

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Gemini
.gemini/

# PDFs generados (tickets y cortes de caja)
static/pdfs/tickets_ventas/*.pdf
static/pdfs/cortes_de_caja/*.pdf

# Archivos generados por la aplicación
instance/
