# Secretos (Lo más importante)
bd.env
.env

# Basura de Python
__pycache__/
*/__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.spec

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Gemini
.gemini/