/* Estilos para las alertas de inventario */
.contenedorAlertas {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: 100;
}

.alertaGeneral {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

.alerta-ErrorG {
    background-color: rgb(210, 97, 108);
    border-left: 5px solid #dc3545;
}

.alerta-ExitoG {
    background-color: rgb(59, 142, 57);
    border-left: 5px solid #007c0c;
}

.iconoAlertaG {
    font-size: 24px;
    margin-right: 15px;
}

.mensajeAlertaG {
    flex-grow: 1;
}

.mensajeAlertaG h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
}

.mensajeAlertaG p {
    margin: 0;
    color: #dbdbdb;
}

.cerrarAlertaG {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffdcdc;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}





/* Estilos para las alertas de inventario */

.alertaInventario {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

.alerta-critica {
    background-color: rgba(220, 53, 69, 0.1);
    border-left: 5px solid #dc3545;
}

.alerta-normal {
    background-color: rgba(255, 152, 0, 0.1);
    border-left: 5px solid #fd7e14;
}

.iconoAlerta {
    font-size: 24px;
    margin-right: 15px;
}

.mensajeAlerta {
    flex-grow: 1;
}

.mensajeAlerta h3 {
    margin: 0 0 5px 0;
    color: #333;
}

.mensajeAlerta p {
    margin: 0;
    color: #555;
}

.btnVerInventario {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #FF7F50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.btnVerInventario:hover {
    background-color: #ce6641;
}

.cerrarAlerta {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #777;
}

