
/* Cuerpo de la app */

body {
    font-family: Arial, sans-serif;
    background-color: #F9E6D3;
    margin: 0;
    padding: 0;
    display: flex;
}

.contenidoGeneral {
    margin-top: 10px;
    margin-left: 335px;
    margin-right: 0px;
    background-color: #F9E6D3;
}

/* GESTIONES */

h1 {
    font-size: 25px;
    margin-left: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.contenedorTitulo {
    display: flex;
    width: 1300px; 
    padding: 10px;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contenedorModal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
} 

.cerrar {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Sidebar */

.contenedorSidebar {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #FF7F50;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar .badge {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit; 
    display: block; 
    padding: 10px;
}

.sidebar ul li a:hover {
    color: #FF7F50; 
}

/* Bienvenida */

.contenedorBienvenida {
    margin-left: 350px; 
    width: calc(100% - 250px); 
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.mensajeBienvenida {
    background: white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu */

.contenedorMenu {
    flex-grow: 1;
    padding: 20px;
}

.menu {
    width: 100%;
    max-width: 1100px; 
    flex-direction: column;
    align-items: flex-start; 
}

header {
    position: absolute;
    top: 19px;
    left: 300px;
    display: flex;
    gap: 650px;
    justify-content: space-between;
    background: #ffffff;
    padding: 13px 48px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FF914D;
}

header h2 span {
    color: #000;
}

header input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: #F9E6D3;
    margin: 0 10px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-btn {
    background: #FF914D;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background 0.3s;
}

.filter-btn:hover {
    background: #FF6A00;
}

.contenedorUsuario {
    position: absolute;
    top: 19px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 0.5px 48px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

.contenedorUsuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FF914D;
}

.contenedorUsuario span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.categoriasBebidas {
    position: absolute;
    top: 100px;
    left: 300px;
    align-items: center;
    padding: 0.5px 48px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

}

.categoriasBebidas button {
    padding: 8px 15px;
    border: none;
    background: #FFE0C0;
    border-radius: 5px;
    cursor: pointer;
}

.categoriasBebidas button.active {
    background: #FF7F50;
    color: white;
}

.menuProductos {
    position: absolute;
    top: 150px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.producto {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
}

.producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.producto .tamaños button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background: #FFE0C0;
    border-radius: 5px;
    cursor: pointer;
}

.producto .añadirCarrito {
    background: #FF7F50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carrito {
    position: absolute;
    top: 100px;
    right: 15px;
    width: 260px;
    height: 500px;
    background: white;
    padding: 20px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carritoItem {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.carritoItem img {
    width: 50px;
}

.carritoItem input {
    width: 40px;
    padding: 5px;
}

.metodosPago select {
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%; 
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.metodosPago select:hover {
    border-color: #888; 
}

.metodosPago select:focus {
    outline: none;
    border-color: #3f51b5; 
}

.metodosPago select {
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.metodosPago select:hover {
    border-color: #888;
}

.metodosPago select:focus {
    outline: none;
    border-color: #3f51b5;
}


.eliminarItemCarrito {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.eliminarItemCarrito:hover {
    background-color: #d32f2f;
}

.eliminarItemCarrito:focus {
    outline: none;
}

.checkout {
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

/* GESTIÓN PRODUCTOS */

.contenedorGestionProductos {    
    margin-top: 10px;
    display: flex;
    width: 1300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listaProductos {
    width: 100%;
    margin-top: 10px;
}

.listaProductos table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnAgregarProducto {
    margin-right: 10px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.listaProductos th, .listaProductos td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btnEditarProducto, .btnEliminarProducto, .btnVerProducto {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btnEditarProducto {
    background: #FFBF00;
    color: white;
}

.btnEliminarProducto {
    background: #E74C3C;
    color: white;
}

.btnVerProducto {
    background: #3498DB;
    color: white;
}

.imagenProducto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* GESTIÓN DE USUARIOS */  

.contenedorGestionUsuarios {    
    margin-top: 10px;
    display: flex;
    width: 1300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listaUsuarios {
    width: 100%;
    margin-top: 10px;
}

.listaUsuarios table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnAgregarUsuario {
    margin-right: 10px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.listaUsuarios th, .listaUsuarios td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btnEditarUsuario, .btnEliminarUsuario, .btnVerUsuario {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btnEditarUsuario {
    background: #FFBF00;
    color: white;
}

.btnEliminarUsuario {
    background: #E74C3C;
    color: white;
}

.btnVerUsuario {
    background: #3498DB;
    color: white;
}

.imagenProducto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* GESTIÓN ÓRDENES */

.contenedorGestionOrdenes {    
    display: flex;
    width: 220%; 
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.listaOrdenes {
    width: 100%;
    margin-top: 10px;
}

.listaOrdenes table {
    width: 220%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.listaOrdenes th, .listaOrdenes td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.listaOrdenes tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.btnVerOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #3498DB;
    color: white;
    border-radius: 5px;
}

.btnListaOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #2ECC71;
    color: white;
    border-radius: 5px;
}

.btnCancelarOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #E74C3C;
    color: white;
    border-radius: 5px;
}

.estadoOrden {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.enEspera {
    background-color: #f39c12;
    color: white;
}

.lista {
    background-color: #2ECC71;
    color: white;
}

.cancelada {
    background-color: #E74C3C;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contenedorModal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.cerrar {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

#tablaProductos {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#tablaProductos th, #tablaProductos td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#tablaProductos th {
    background-color: #f2f2f2;
}

/* HISTORIAL DE VENTAS */

.contenedorGestionVentas {    
    display: flex;
    width: 280%; 
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.listaVentas {
    width: 100%;
    margin-top: 10px;
}

.listaVentas table {
    width: 280%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.listaVentas th, .listaVentas td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.listaVentas tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.btnVerVenta {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #3498DB;
    color: white;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contenedorModal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.cerrar {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

#tablaProductosVenta {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#tablaProductosVenta th, #tablaProductosVenta td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#tablaProductosVenta th {
    background-color: #f2f2f2;
}







