
/* Cuerpo de la app */

body {
    font-family: Arial, sans-serif;
    background-color: #F9E6D3;
    margin: 0;
    padding: 0;
    display: flex;
}

.contenidoGeneral {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 0px;
    background-color: #F9E6D3;
}



/* GENERALES */
.filtroSelect select {
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%; 
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.filtroSelect select:hover {
    border-color: #888; 
}

.filtroSelect select:focus {
    outline: none;
    border-color: #3f51b5; 
}

h1 {
    font-size: 25px;
    margin-left: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    background: #dbdbdb;
    border-radius: 5px;
}

.contenedorTitulo {
    display: flex;
    width: 1200px; 
    padding: 10px;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contenedorModal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    max-height: 80%; /* Limita la altura del modal */
    overflow-y: auto; /* Habilita el scroll vertical */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tituloModal {
    text-align: center;
}

.guardarBtn {
    background: #FF7F50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.guardarBtn:hover{
    background: #ce6641;
}

.inputContrasena {
    position: relative;
    display: flex;
    align-items: center;
}

.toggleContrasena {
    cursor: pointer;
    margin-left: 10px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Sidebar */

.contenedorSidebar {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #FF7F50;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px;
    cursor: pointer;
}

.sidebar .badge {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit; 
    display: block; 
    padding: 10px;
}

.sidebar ul li a:hover {
    color: #FF7F50; 
}

/* Bienvenida */

.contenedorBienvenida {
    margin-left: 350px; 
    width: calc(100% - 250px); 
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.mensajeBienvenida {
    background: white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* MENU */

.contenedorMenu {
    flex-grow: 1;
}

.search-container {
    margin-top: 10px;
    display: flex;
    width: 865px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #dbdbdb; /* Color de fondo interno */
    border-radius: 20px;
    font-size: 16px;
    color: black; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
                -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.search-container input::placeholder {
    color: #808080; /* Color del placeholder */
}

/* Personalizar el scrollbar (opcional) */
.carritoItems::-webkit-scrollbar {
    width: 8px;
}

.carritoItems::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 4px;
}

.carritoItems::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.menu {
    width: 865px;
    max-width: 865px;
    flex-direction: column;
    align-items: flex-start; 
}

.tamaño.selected {
    color: #b42100;
}

.inputMenu input[type="text"] {
    width: 90%;
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputCliente input[type="text"] {
    width: 80%;
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedorUsuario {
    position: absolute;
    top: 19px;
    right: 15px;
    display: flex;
    gap: 15px;
    background: white;
    padding: 0.5px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    width: 250px;
    height: 57px;
    justify-content: center;
    align-items: center;
}

.contenedorUsuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FF914D;
}

.contenedorUsuario span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.categoriasBebidas {
    position: absolute;
    top: 100px;
    left: 300px;
    align-items: center;
    justify-content: center;
    padding: 0.5px 48px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.categoriasBebidas button {
    padding: 8px 15px;
    border: none;
    background: #ffd6ac;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categoriasBebidas button:hover {
    background: #d4b18e;
}

.categoriasBebidas button.active {
    background: #FF7F50;
    color: white;
}

.menuProductos {
    position: absolute;
    top: 150px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: auto;
    width: 865px;
}

.producto {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.producto .tamaños button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background: #FFE0C0;
    border-radius: 5px;
    cursor: pointer;
}

.tamaños button:hover {
    background: #d4b18e;
}

.producto .añadirCarrito {
    background: #FF7F50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.añadirCarrito:hover {
    background: #ce6641;
}

.carrito {
    position: absolute;
    top: 100px;
    right: 15px;
    width: 260px;
    height: 530px;
    background: white;
    padding: 20px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
}

.carritoItem {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.carritoItem img {
    width: 50px;
}

.carritoItem input {
    width: 40px;
    padding: 5px;
}

.metodosPago select {
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%; 
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.metodosPago select:hover {
    border-color: #888; 
}

.metodosPago select:focus {
    outline: none;
    border-color: #3f51b5; 
}

.eliminarItemCarrito {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.eliminarItemCarrito:hover {
    background-color: #d32f2f;
}

.eliminarItemCarrito:focus {
    outline: none;
}

.checkout {
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;

}

.checkout:hover {
    background: #ce6641;
}

/* GESTIÓN PRODUCTOS */
.contenedorGestionProductos {    
    margin-top: 10px;
    display: flex;
    width: 1200px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: row; /* Hacer que los contenedores estén lado a lado */
    gap: 20px; /* Espacio entre los contenedores */
    width: 100%;
}

.contenedorIzquierdo,
.contenedorDerecho {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listaProductos {
    width: 100%;
    margin-top: 10px;
}

.listaProductos table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnAgregarProducto {
    margin-right: 10px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.listaProductos th, .listaProductos td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btnEditarProducto, .btnEliminarProducto, .btnVerProducto {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btnEditarProducto {
    background: #FFBF00;
    color: white;
}

.btnEliminarProducto {
    background: #E74C3C;
    color: white;
}

.btnVerProducto {
    background: #3498DB;
    color: white;
}

.imagenProducto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* GESTIÓN DE USUARIOS */  

.contenedorGestionUsuarios {    
    margin-top: 10px;
    display: flex;
    width: 1200px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listaUsuarios {
    width: 100%;
    margin-top: 10px;
}

.listaUsuarios table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnAgregarUsuario {
    margin-right: 10px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.listaUsuarios th, .listaUsuarios td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btnEditarUsuario, .btnEliminarUsuario, .btnVerUsuario {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btnEditarUsuario {
    background: #FFBF00;
    color: white;
}

.btnEliminarUsuario {
    background: #E74C3C;
    color: white;
}

.btnVerUsuario {
    background: #3498DB;
    color: white;
}

.imagenProducto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* GESTIÓN ÓRDENES */


.Pendiente {
    background-color: #FF9800; /* Orange color for Pending */
    color: white;
}

.Completada {
    background-color: #2ECC71; /* Green color for Completed */
    color: white;
}

.Cancelada {
    background-color: #E74C3C; /* Red color for Cancelled */
    color: white;
}

.EnProceso, .Enproceso {
    background-color: #3498DB; /* Blue color for In Process */
    color: white;
}

/* Añadir después de los estilos de botones de órdenes */
.btnVerOrden, .btnProcesarOrden, .btnListaOrden {
    margin-right: 5px;
}

.contenedorGestionOrdenes {    
    display: flex;
    width: 220%; 
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.listaOrdenes {
    width: 100%;
    margin-top: 10px;
}

.listaOrdenes table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.listaOrdenes th, .listaOrdenes td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.listaOrdenes tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.btnVerOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #3498DB;
    color: white;
    border-radius: 5px;
}

.btnListaOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #2ECC71;
    color: white;
    border-radius: 5px;
}

.btnCancelarOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #ef887d;
    color: white;
    border-radius: 5px;
}

.btnProcesarOrden {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #b8b017;
    color: white;
    border-radius: 5px;
}

.estadoOrden {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.enEspera {
    background-color: #f39c12;
    color: white;
}

.lista {
    background-color: #2ECC71;
    color: white;
}

.cancelada {
    background-color: #E74C3C;
    color: white;
}

#tablaProductos {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#tablaProductos th, #tablaProductos td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#tablaProductos th {
    background-color: #f2f2f2;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-productos th, .tabla-productos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-productos th {
    background-color: #f2f2f2;
}

.total-row {
    font-weight: bold;
    background-color: #e0e0e0;
}

/* HISTORIAL DE VENTAS */


.contenedorGestionVentas {    
    display: flex;
    width: 1200px; 
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 10px;
    padding: 10px;
}

.listaVentas {
    display: flex;
    width: 1200px; 
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
}

.listaVentas table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 10px;
}

.listaVentas th, .listaVentas td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.listaVentas tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.btnVerVenta {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #3498DB;
    color: white;
    border-radius: 5px;
}

#tablaProductosVenta {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#tablaProductosVenta th, #tablaProductosVenta td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#tablaProductosVenta th {
    background-color: #f2f2f2;
}


/* BUSCADOR / FILTROS*/

.buscador {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 1200px;
    padding: 10px;
    background: white;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buscador input[type="text"],
.buscador input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 250px;
    margin: 0 10px;
}

.btnReestablecer {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background: #f39c12;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.btnReestablecer:hover {
    background: #e67e22;
}

#formBuscador {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espaciado entre elementos */
    flex-wrap: wrap; /* Evita que los elementos se desborden */
    width: 100%;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
}


/* CORTES DE CAJA */
 
.contenedorCorteCaja {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    padding: 20px;
    background-color: #F9E6D3;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.btnAgregarCorte {
    margin-right: 10px;
    margin-left: 700px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.btnRealizarRetiro {
    margin-right: 10px;
    margin-top: 10px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.btnFiltrar {
    margin-right: 10px;
    margin-top: 28px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.btnRealizar {
    margin-right: 10px;
    margin-top: 28px;
    background: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.modal-content {
    background-color: #F9E6D3;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0.100px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fecha-selector {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-bottom: 10px; 
}

.fecha-selector .fecha-item {
    display: flex;
    flex-direction: column;
    width: 40%; 
}

.fecha-selector label {
    font-size: 16px;
    margin-bottom: 2px; 
}

.fecha-selector input[type="date"] {
    padding: 6px; /* Reducir padding */
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: #ffd6ac;
    color: black;
    font-weight: bold;
}

.table td {
    background-color: #ffffff;
}

.table td input[type="number"] {
    width: 100%;
    padding: 6px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}

.table td input[type="number"]:focus {
    border-color: #f79470;
}

.table td input[readonly] {
    background-color: #f0f0f0;
    border-color: #ddd;
}

.retiro-container {
    width: 91%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFF7E5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.retiro-container h4 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.retiro-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.retiro-container input[readonly] {
    background-color: #f0f0f0;
    border-color: #ddd;
}

.contenedorBotones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.contenedorBotones button {
    padding: 12px 24px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
}

.contenedorBotones button:hover {
    background-color: #FF7F50;
}


.modal-content-retiro {
    background-color: #F9E6D3;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
} 

.retiro-container input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.retiro-container button {
    padding: 12px 24px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

.retiro-container button:hover {
    background-color: #FFE0C0;
}


@media (max-width: 768px) {
    .modal-content,
    .modal-content-retiro {
        width: 90%;
    }

    .modal-container {
        padding: 15px;
    }

    .retiro-container {
        width: 100%;
        padding: 15px;
    }

    .fecha-selector {
        flex-direction: column;
        gap: 15px;
    }

    .fecha-selector .fecha-item {
        width: 100%;
    }

    .contenedorBotones {
        flex-direction: column;
    }

    .contenedorBotones button {
        width: 100%;
    }
}

/* REPORTES FINANCIEROS */

.contenedor-reporte {    
    margin-top: 10px;
    width: 1200px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fecha-selector {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-bottom: 10px; 
}

.fecha-selector .fecha-item {
    display: flex;
    flex-direction: column;
    width: 40%; 
}

.fecha-selector label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px; 
}

.fecha-selector input[type="date"] {
    padding: 6px; /* Reducir padding */
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.table td input[readonly] {
    background-color: #f0f0f0;
    border-color: #ddd;
}

.text-success { color: green; font-weight: bold; }
.text-danger { color: red; font-weight: bold; }

/* INVENTARIO */
.contenedorInventario {    
    margin-top: 10px;
    display: flex;
    width: 1200px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listaInventario {
    width: 100%;
    margin-top: 10px;
}

.listaInventario table {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listaInventario th, .listaInventario td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btnEditarInventario {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btnEditarInventario {
    background: #FFBF00;
    color: white;
}


/* Estilos para la opción "Para llevar" */
.opcionLlevar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 8px 0;
    width: 100%;
}

.opcionLlevar label {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.opcionLlevar .checkbox-container {
    display: flex;
    justify-content: flex-end;
}

.opcionLlevar input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.dineroRecibido, .cambio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.dineroRecibido label, .cambio label {
    font-weight: bold;
    color: #333;
}

.dineroRecibido input, .cambio input {
    width: 120px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: right;
    font-size: 16px;
}

.cambio input {
    background-color: #f0f0f0;
    color: #2a9d8f;
    font-weight: bold;
}