{% extends "sidebar.html" %}

{% block title %}Menú{% endblock %}

{% block content %}
<!-- Contenido principal -->
<main class="contenidoGeneral">
    <div class="contenedorMenu">
        <header>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Buscar..." onkeyup="buscarProducto()"> <!-- Campo de búsqueda -->
            </div>
        </header>
        
        
        <div class="contenedorUsuario">
            <span>{{ nombre_usuario }}</span>
        </div>

        <section class="menu">
            <div class="categoriasBebidas">
                <button>Bebidas Calientes</button>
                <button>Bebidas Frías</button>
                <button>Snacks</button>
                <button>Postres</button>
                <button>Todos</button>
                <button>Otras Bebidas</button>
            </div>

            <div class="menuProductos">
                {% for producto in productos %}
                    <div class="producto" categoriasDatos="{{ producto.categoria }}">
                        {% if producto.ruta_imagen %}
                        <img src="{{ producto.ruta_imagen }}" class="imagenProducto">
                        {% else %}
                        <img src="/static/images/default-product.jpg" alt="Sin imagen" class="imagenProducto">
                        {% endif %}
                        <h3>{{ producto.nombre_producto }}</h3>
                        <p>{{ producto.descripcion }}</p>
                        <div class="tamaños">
                            {% for variante in producto.variantes %}
                                <button class="tamaño" onclick="seleccionarTamaño(this)" preciosDatos="{{ variante.precio }}">{{ variante.tamano }} - ${{ variante.precio }}</button>
                            {% endfor %}
                        </div>
                        <button class="añadirCarrito">Añadir a la orden</button>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <!-- Carrito -->
    <aside class="carrito">
        <h1>Orden</h1>
        <div class="carritoItems">
            <!-- Los productos se agregarán aquí dinámicamente -->
        </div>

        <!-- Campo para el nombre del cliente -->
        <div class="nombreCliente">
            <label for="nombreCliente">Nombre del Cliente:</label>
            <input class="inputCliente" type="text" id="nombreCliente" placeholder="Ingrese su nombre" required>
        </div>

        <!-- Total en el carrito -->
        <div class="totalCarrito">
            <h3>Total</h3>
            <p id="total">$0</p> <!-- Este valor será actualizado dinámicamente -->
        </div>

        <!-- Métodos de Pago -->
        <div class="metodosPago">
            <h3>Método de Pago</h3>
            <select name="metodoPago">
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta</option>
                <option value="transferencia">Transferencia Bancaria</option>
            </select>
        </div>

        <button class="checkout" onclick="realizarPedido(); generarPDF();">Realizar la orden</button>
        
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</main>
{% endblock %}