{% extends "sidebar.html" %}

{% block title %}Gestión Órdenes{% endblock %}


{% block content %}
<main class="contenidoGeneral">
    <section class="contenedorTitulo">    
        <h1>Gestión de Órdenes</h1>
    </section>

    <section class="buscador">
        <section id="formBuscador">
            <input type="text" id="buscarCliente" placeholder="Buscar por nombre" name="cliente" oninput="buscarVentas()">
            <button type="button" class="btnReestablecer" onclick="reestablecerFiltros()">🔄 Reestablecer</button>
        </section>        
    </section>
    
    <section class="listaOrdenes">
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaOrdenes">
                <!-- Las órdenes se cargarán dinámicamente aquí -->
            </tbody>
        </table>
    </section>
</main>

<!-- Modal de Confirmación -->
<section class="modalConf" id="confirmacionModal" style="display: none;">
    <section class="contenedorModalConf">
        <span class="cerrar" onclick="cerrarConfirmacionModal()">&times;</span>
        <h3>Confirmación</h3>
        <p id="mensajeConfirmacion"></p>
        <button id="btnConfirmar" onclick="confirmarCambioEstado()">Sí</button>
        <button onclick="cerrarConfirmacionModal()">No</button>
    </section>
</section>

<!-- Modal para ver detalles de la orden -->
<div class="modal" id="ordenModal">
    <div class="contenedorModal">
        <span class="cerrar" onclick="cerrarDetallesOrden()">&times;</span>
        <h3 class="tituloModal">Detalles de la Orden</h3>
        <div id="detallesOrden">
            <!-- Aquí se cargarán los detalles dinámicamente -->
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/modalesConf.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/alertas.css') }}">
<script src="{{ url_for('static', filename='js/ordenes.js') }}"></script>

{% endblock %}
