<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cafetería{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="contenedorSidebar">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <h2>La Hacienda</h2>
            <nav>
                <ul>
                    <li><a href="/bienvenida">🏠 Página Principal</a></li>
                    <li><a href="/menu">📋 Menú</a></li>
                    <li><a href="/ordenes">🛒 Ordenes <!--<span class="badge">10</span> --> </a></li>
                    <li><a href="/historial">📜 Historial</a></li>
                    <li><a href="/gestionProductos">📝 Gestión Productos</a></li>
                    <li><a href="/gestionUsuarios">🤝 Gestión Usuarios</a></li>
                    <li><a href="/inventario">🏷️ Inventario</a></li>
                    <li><a href="/corteCaja">💵 Corte de Caja</a></li>
                     <li><a href="/reporteFinanciero">💰 Reportes Financieros</a></li>
                    <li><a href="/">🚪 Salir</a></li>
                </ul>
            </nav>
        </aside>

        {% block content %}{% endblock %}
    </div>
</body>
</html>
